.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  margin-right: 1rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  background: #eceff1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  color: black;
  text-decoration: none;
}

.slider-container span {
  font-variant-numeric: tabular-nums;
}

.slider {
  min-width: 200px;
  max-width: 340px;
  width: 30vw;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background: green;
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-top: -3px;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
}
